@import "vars";
@import "fonts";
@import "libs";

@import "_mixins/adaptive-font";

// @include adaptive-font(24, 12)

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: $white;
}

body {
	font-size: 16px;
	font-weight: 500;
	min-width: 320px;
	position: relative;
	line-height: 1.2;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	padding: 0;
	margin: 0;

	input, textarea {
		border: #666 1px solid;
		outline: none;

		&:focus:required:invalid {
			border-color: #FF5F00;
		}

		// &:focus {
		// 	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
		// }
	}

	&.lock {
		overflow: hidden;
	}
}

img {
	height: auto;
	width: 100%;
}

b, strong {
	font-weight: 600;
}

a {
	text-decoration: none;
	cursor: pointer;
	display: block;

	&:hover {
		text-decoration: none;
	}
}

p, ul, li {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}

button {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
	outline: none;
}

.container {
	max-width: 1210px;
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;
}

.button {
	font-weight: 600;
	line-height: 130%;
	text-align: center;
	padding: 18px;
	font-size: 18px;
	font-family: $default-font;
	cursor: pointer;
	transition: .3s all ease;
	border-radius: 8px;
	display: inline-block;

	&:hover {
		box-shadow: inset 0 0 0 30px rgba(255, 255, 255, .1);
	}

	&--accent {
		background-color: $accent;
		color: $white;
	}

	&--light-accent {
		background-color: $white;
		color: $accent;
	}

	&--primary {
		background-color: $primary;
		color: $white;
	}

	&--bookmakers {
		background-color: rgba(63, 56, 206, 0.3);
		color: #333333;
	}
}

.sect-title {
	font-weight: 700;
	color: #333333;
	font-size: 36px;

	& + p {
		margin-top: 23px;
	}
}

.sect-descr {
	font-size: 18px;
	color: $black;

	& + & {
		margin-top: 20px;
	}

	& + h2 {
		margin-top: 55px;
	}
}

.sect-padding {
	padding: 55px 0 65px;
}

.sect-bg-gray {
	background-color: #f5f5f5;
}

.sect-bg-primary {
	background-color: $primary;

	.sect-title,
	.sect-descr {
		color: $white;
	}
}


.header {
	min-height: 604px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__top {
		min-height: 80px;
		width: 100%;
		background-color: rgba(13, 6, 44, 0.5);
		padding: 20px 0;
	}

	&__main {
		padding-top: 102px;
		padding-bottom: 85px;
	}
}

.header-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	&__link {
		max-width: 222px;
		width: 100%;
	}
}

.header-menu {
	display: flex;
	align-items: center;
	gap: 50px;

	&__link {
		color: $white;
		font-size: 18px;
		font-weight: 600;

		&:hover {
			color: #FF4D76;
		}
	}

	&__item {
		position: relative;
	}
}

.header-menu-more {
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: flex-start;
	gap: 5px;

	&:hover {
		svg {
			path {
				fill: #FF4D76;
			}
		}

		.header-menu-more__title {
			color: #FF4D76;
		}
	}

	&.active {
		.header-menu-more {
			&__icon {
				transform: translateY(20%) rotate(180deg);
				
				path {
					fill: #FF4D76;
				}
			}

			&__title {
				color: #FF4D76;
			}
		}
	}

	&:not(.active) &__list {
		display: none;
	}

	&__title {
		color: $white;
		font-size: 18px;
		font-weight: 600;
	}

	&__list {
		padding: 20px 30px;
		position: absolute;
		background: rgba(13, 6, 44, 0.8);
		right: -20px;
		top: 50px;
		min-width: 220px;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__link {
		color: $white;
		font-size: 18px;
		font-weight: 400;

		&:hover{
			color: #FF4D76;
		}
	}
}

.header-main {
	&__title {
		font-size: 60px;
		font-weight: 600;
		color: $white;
		max-width: 570px;
	}

	&__subtitle {
		margin-top: 26px;
		font-size: 22px;
		font-weight: 500;
		color: $white;
		max-width: 640px;
	}

	&__buttons {
		margin-top: 40px;
		display: flex;
		align-items: center;
		gap: 25px;
	}

	&__button {
		padding-left: 55px;
		padding-right: 55px;
	}
}

.header-button-menu {
	display: none;
}


.main {
	background-color: $white;
}

.about {
	&__table-of-contents {
		margin-top: 34px;
	}

	&__table {
		margin-top: 41px;
	}

	&__block {
		margin-top: 54px;
	}

	&__columns {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 37px;
		margin-top: 22px;
	}

	&__col {
		width: 50%;
	}

	&__image {
		img {
			border-radius: 8px;
		}
	}

	&__button {
		margin-top: 28px;
	}
}

.m-article {
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__col {
		display: flex;
		align-items: center;
		gap: 11px;
	}

	&__info {
		display: flex;
		gap: 5px;
	}

	&__icon {
		font-size: 0;
	}

	&__text {
		font-size: 14px;
		color: #404040;
	}

	&__date,
	&__time {
		font-weight: 500;
		font-size: 14px;
	}
}

.table-of-contents {
	display: flex;
	flex-direction: column;
	gap: 12px;

	&__item {
		border-radius: 8px;
		box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
		background: rgb(254, 254, 254);
		padding: 25px 36px;

		&.open {
			.table-of-contents__icon {
				transform: rotate(180deg);
			}

			.table-of-contents__icon svg circle {
				fill: #ae9afd;
				fill-opacity: 1;
			}
		}
	}

	&__text {
    cursor: pointer;
		display: flex;
		align-items: center;
		gap: 16px;
	}

	&__icon {
		display: flex;
		transition: all .5s ease;
	}

	&__content {
    padding-top: 20px;
		padding-bottom: 8px;
		display: none;
	}

	&__lists {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 5px;

		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	&__link {
		color: #333333;
		font-size: 18px;
		font-weight: 600;

		&:hover {
			color: #6236FF;
			text-decoration: underline;
		}

		&-text {
			position: relative;
			font-size: 24px;
			line-height: 130%;
			font-weight: 600;
			color: #333333;
		}
	}
}

.m-table {
	overflow-x: auto;

	&::-webkit-scrollbar {
    display: none
	}

	&__row {
		table-layout: fixed;
		border-collapse: collapse;
		white-space: nowrap;
		background-color: transparent;
		width: 100%;
	}

	th {
		background: rgba(63, 56, 206, 0.7);
		color: $white;
		padding: 20px;
		text-align: left;
		border: 2px solid rgb(215, 215, 215);
	}

	td {
		padding: 10px 20px;
		border: 2px solid rgb(215, 215, 215);
		word-break: break-word;
		font-size: 18px;
		color: #000A1A;
		white-space: normal;
	}
}

.m-list {
	&__item {
		font-size: 18px;
		color: $black;
		position: relative;
		padding-left: 40px;

		&:not(:first-child) {
			margin-top: 20px;
		}

		&::before {
			position: absolute;
			content: "";
			top: 2px;
			left: 0;
			width: 23px;
			height: 23px;
			background-image: url(../img/check.svg);
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	&__title {
		font-size: 18px;
		font-weight: 600;
		color: $black;

		& + .m-list__row {
			margin-top: 22px;
		}
	}

	&--bg {
		padding: 35px 45px;
		background-color: #F5F5F5;
		border-radius: 8px;
	}

	& + p {
		margin-top: 25px;
	}
}

.bookmakers {
	&__block {
		margin-top: 45px;
	}
}

.bookmakers-block {
	&__content {
		margin-top: 10px;
	}

	&__button {
		min-width: 232px;
		margin: 53px auto 0;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;

		&.hide {
			.bookmakers-block__button-icon {
				transform: rotate(180deg);
			}
		}
		
		&-text {
			font-size: 18px;
			font-weight: 600;
			color: #333333;
		}
	}
}

.bookmakers-block-head {
	min-height: 50px;
	background-color: #D9D9D9;
	border-radius: 8px;

	&__list {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 14px;
	}

	&__item {
		font-weight: 600;
		font-size: 18px;
		line-height: 130%;
		color: #333333;
		width: 18%;
	}
}

.bookmakers-block-list {
	&__item {
		border-radius: 8px;
		box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
		background: rgb(254, 254, 254);
		padding: 40px 50px;

		&-row {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;

			> div {
				width: 20%;
			}
		}
		
		&--accent {
			border: 2px solid rgba(63, 56, 206, 0.9);
		}

		&:not(:first-child) {
			margin-top: 18px;
		}

		&--hidden {
			display: none;
		}
	}

	&__logo {
		max-width: 200px;
		font-size: 0;
	}

	&__rating {
		display: flex;
		flex-direction: column;
		gap: 20px;

		&-title {
			font-size: 18px;
			font-weight: 600;
		}

		&-box {
			display: flex;
			align-items: center;
			gap: 10px;
		}

		&-stars {
			font-size: 0;
		}

		&-number {
			font-size: 24px;
			color: $black;
		}
	}

	&__advantages-item {
		font-size: 18px;
		color: $black;
		position: relative;

		&::before {
			content: '';
			width: 11px;
			height: 11px;
			position: absolute;
			left: -20px;
			top: 50%;
			transform: translateY(-50%);
		}

		&--plus {
			&::before {
				background: url('../img/plus.svg') no-repeat 50%;
				background-size: contain;
			}
		}

		&--minus {
			&::before {
				background: url('../img/minus.svg') no-repeat 50%;
				background-size: contain;
			}
		}
	}

	&__button {
		min-width: 193px;
	}
}


.information {
	&__list {
		margin-top: 30px;
	}
}

.how-works {
	&__slider {
		margin-top: 30px;
	}
}


.slick-arrow {
	position: absolute;
	bottom: -30px;
	z-index: 10;
	font-size: 0;
	width: 32px;
	height: 32px;
	border: none;
	outline: 0;
	cursor: pointer
}

.slick-arrow.slick-prev {
	left: 0;
	background: url(../img/arrow-left.svg) 0 0/100% no-repeat
}

.slick-arrow.slick-prev:hover {
	background: url(../img/arrow-left.svg) 0 0/100% no-repeat
}

.slick-arrow.slick-prev.slick-disabled {
	background: url(../img/arrow-left-disabled.svg) 0 0/100% no-repeat
}

.slick-arrow.slick-next {
	left: 45px;
	background: url(../img/arrow-right.svg) 0 0/100% no-repeat
}

.slick-arrow.slick-next:hover {
	background: url(../img/arrow-right.svg) 0 0/100% no-repeat
}

.slick-arrow.slick-next.slick-disabled {
	background: url(../img/arrow-right-disabled.svg) 0 0/100% no-repeat
}

.slick-track {
	display: flex;
}

.slick-slide {
	margin: 0 2px;
	height: auto;

	> div {
		display: flex;
		min-height: 100%;
	}
}

.uni-slider {
	.slick-slide {
		> div {
			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}
	}

	&--min-height {
		.uni-slider__item {
			min-height: 585px;
		}
	}

	&__item {
		min-height: 100%;
		background: $white;
		height: auto;
		border-radius: 8px;
		// max-width: calc(33% - 16px); 

		&:not(:last-child) {
			margin-right: 30px;
		}
	}

	&__row {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__image {
		width: 100%;
	}

	&__info {
		flex: 1 1 auto;
	}

	&__column {
		padding: 52px 35px;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	&__title {
		font-size: 26px;
		font-weight: 600;
		color: $black;

		& + .uni-slider__descr {
			margin-top: 15px;
		}
	}

	&__descr {
		font-size: 18px;
		color: $black;
	}

	&__list {
		margin-top: 23px;
	}

	&__postscript {
		font-size: 18px;
		font-weight: 600;
		color: $primary;
		margin-top: 16px;
	}

	.slick-dots {
		bottom: 0;
	}
}

/************* Media *****************************/
@media (max-width: 1100px) {

}


@media (max-width: 900px) {
	.uni-slider {
		padding-bottom: 30px;

		&__item {
			max-width: 100%;
		}

		&__column {
			padding: 30px 20px;
		}

		&__postscript {
			font-size: 16px;
		}
	}

	.slick-dots {
		bottom: 0;
	}

	.slick-track {
		justify-content: space-between;
	}

	.button {
		width: 100%;
	}

	.sect-title {
		font-size: 33px;
	}

	.sect-padding {
		padding: 45px 0 50px;
	}

	.sect-descr {
		font-size: 16px;
	}

	.m-list {
		&--bg {
			padding: 35px 20px;
		}
		
		&__item,
		&__title {
			font-size: 16px;
		}
	}

	.header {
		background-position: 30% 0px;

		&__main {
			padding-top: 40px;
			padding-bottom: 70px;
		}
	}

	.header-main {
		&__title {
			font-size: 42px;
		}

		&__subtitle {
			font-size: 18px;
			margin-top: 20px;
		}

		&__buttons {
			margin-top: 25px;
			flex-direction: column;
		}
	}

	.header-info {
		&__row {
			display: none;
		}
	}

	.header-button-menu {
		display: block;
		position: absolute;
		top: 40px;
		right: 25px;

		&__icon {
			display: block;
			background: 0 0;
			width: 25px;
			height: 18px;
			color: $white;
			transform: translateY(-50%);

			&::after,
			&::before {
				content: "";
        width: 24px;
        height: 18px;
        border: 0 solid #fff;
        display: block;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        right: 0;
        transition: .5s;
			}

			&::before {
				border-width: 2px 0;
        background: linear-gradient(to bottom, transparent calc(50% - 1px), #fff 0 calc(50% + 1px), transparent 0);
			}

			&::after {
				background: linear-gradient(to bottom, transparent calc(50% - 1px), #fff 0 calc(50% + 1px), transparent 0), linear-gradient(to right, transparent calc(50% - 1px), #fff 0 calc(50% + 1px), transparent 0);
        transform: rotate(45deg) scale(0);
        opacity: 0;
			}
		}

		&__body {
			z-index: 2;
			position: fixed;
			width: 100%;
			min-height: 100vh;
			top: 83px;
			left: 0;
			background-color: #0D062C;
			overflow: auto;
			transform: translateX(100%);
			transition: all .5s ease;
			padding: 20px;

			&.active {
        transform: translateX(0);
        display: flex;
        flex-direction: column
			}
		}
	}
	
	.header-menu-open {
		.header-button-menu__icon {
			&::before {
				transform: scale(0);
				opacity: 0;
			}

			&::after {
        transform: rotate(45deg);
        opacity: 1;
        width: 20px;
        height: 20px;
        top: 0;
        right: 4px;
			}
		}
	}

	.header-menu {
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}

	.header-menu-more {
		&__list {
			padding: 0;
			left: 0;
			right: 0;
			background: none;
		}
	}

	.about {
		&__table-of-contents {
			margin-top: 32px;
		}

		&__columns {
			flex-direction: column;
			gap: 34px;
			margin-top: 30px;
		}

		&__col {
			width: 100%;

			&--info {
				order: 2;
			}

			&--img {
				order: 1;
			}
		}

		&__image {
			margin-left: -20px;
			margin-right: -20px;

			img {
				border-radius: 0;
			}
		}
	}

	.table-of-contents {
		&__item {
			padding: 15px 20px;
		}
	}

	.m-article {
		&__row {
			flex-direction: column;
			align-items: flex-start;
			gap: 12px;
		}

		&__text,
		&__date,
		&__time {
			font-size: 14px;
		}
	}

	.m-table {
		&__row {
			table-layout: auto;
		}

		td, th {
			font-size: 16px;
		}
		
		th {
			
		}
		
		td {
			padding: 10px 12px;
			white-space: nowrap;
		}
	}

	.bookmakers-block-head {
		display: none;
	}

	.bookmakers-block-list {
		&__item {
			padding: 30px;

			&-row {
				flex-direction: column;
				gap: 30px;
	
				> div {
					width: 100%;
				}
			}
		}

		&__logo {
			max-width: 130px;
		}

		&__advantages {
			margin-left: 20px;
		}
	}

	.how-works {
		padding-bottom: 100px;
	}
}


@media (max-width: 600px) {

}


@media (max-width: 350px) {

}



